.mainTextBold {
   margin-left: 335px;
    display: flex;
    padding: 60px;
    width: 1021px;
    
}

.subText {
    margin: 0 auto;
    display: flex;
    padding: 30px;
    
}

.vector22 {
    margin: 0 auto;
    display: flex;
    padding: 40px;
}