.nameTitleCard {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameTitleCardImage {
  width: 220px;
  height: 220px;
  margin-bottom: 15px;
}

.nameTitleCardFigCaption {
  display: flex;
  flex-direction: column;
  width: 279px;
  height: 92px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #063939;
}

.nameTitleCardSpan {
  font-weight: bold;
}
