.navbar {
  	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #fdfdfd;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	max-width: 100%;
	width: 100vw;
	height: 89px;
	z-index: 10;
}

.brand-title-container {
	height: 100%;
	display: flex;
	align-items: center;
}

.brand-title {
	margin: 1rem;
	height: 60px;
}

#navbar-links li {
	list-style: none;
}

#navbar-links li a {
	text-decoration: none;
	color: black;
	padding: 2rem;
	display: flex;
	font-style: normal;
	font-family: montserrat;
	text-transform: uppercase;
	letter-spacing: 0.16em;
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
}

.toggle-button {
	position: absolute;
	top: 3rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}
.dropdown {
	height: 89px;
	
}
#navbar-links {
	width: auto;
	padding: 0;
	align-self: center;
	height: 89px;
	margin: auto;
}
.navbarLi {
	height: 89px;
	display: flex;
	align-items: center;
}

.navbarLi:hover:before {
	color: #00ced1;
	list-style: none;
	content: "\2022";
	font-size: 2em;
	left: 0.45em;
	position: absolute;
	top: 0.1em;
}

.navbarLi:hover {
	position: relative;
	display: inline-block;
	margin-top: 13px;
}

@media (max-width: 1340px) {
	.toggle-button {
		display: flex;
	}
	#navbar-links {
		display: none;
		width: 100%;
	}
	.vector {
		display: none;
	}
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	#navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	#navbar-links li {
		text-align: center;
	}

	#navbar-links li a {
		padding: 0.5rem 1rem;
	}

	#navbar-links.active {
		display: flex;
	}
}

.navbarText {
	height: 40px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	/* display: flex; */
	align-items: center;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #3a3748;
}

#donateColor {
	height: 20px;
	/* margin: 0; */
	background: #00ced1;
	border-radius: 4px;
}
.vector-container {
	display: flex;
	align-items: center;
}
.vector {
	height: 20px;
	/* margin: 30px; */
}

ul {
	list-style: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
	float: left;
	/* overflow: hidden; */
}


/* Style the dropdown button to fit inside the navbar */
.dropdown .navbarText {
	font-weight: 500;
	font-size: 16px;
	border: none;
	outline: none;
	padding: 14px 16px;
	margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	top: 84px;
	background-color: #f5f5f5;
	z-index: 5;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 5px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
	float: none;
	color: #000000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 16PX;
	
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
	background-color: #f5f5f5;
}

/* Add a background to dropdown links on hover */
.dropdown-content a:hover {
	background-color: #00ced1;
	color: #000000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown congtent*/
.dropdown:hover .dropdown-content {
	display: block;
}

 /* #subMenu {
	float: none;
    color: #000000;
    text-decoration: none;
	display: block;  
} 
	 */

/* Valunterr drop down */


.subTarget{
	position: relative;
}

#subMenu {
	position: absolute;
	top: 0;
	left: 99%;
	color: #000000;
	background-color: #f5f5f5 ;
	text-decoration: none;
	border-radius: 5PX;
	/* border-top-left-radius: 5px;
	border-top-right-radius: 5px; */
	visibility: hidden;
	

} 
.subTarget:hover #subMenu{
	visibility: visible;
}

#subMenu a{
	letter-spacing: .5px !important;
}
/* .showSumMenu{
	display: block;
}

.hideSumbMenu{
	display: block
}

#subMenu {
	visibility: hidden;
} */

/* .subTarget:hover #submenu{
	visibility: visible !important;
} */

/* 
#volunteerMenu:hover #subMenu{
	display: block !important;
}  */
 .volunteerSubMenu{
	height: 65px;
	
}

.volunteerSubMenu a{
	padding: 12px 16px !important;
	
	text-transform: capitalize !important;
}

/* 

#volunteerMenu:hover #subMenu{
	visibility: visible !important;
}



 */
