.ProgramMarginLeft{
    margin-left: 21px;


}

.ProgramSidebarBolded{
    font-weight: 600;
    text-align: left;

}

.ProgramSidebarCreatingSteamRow{
    display: flex;
    padding-left: 21px;
    align-content: flex-start;
    text-align: left;
    margin: 5px;
    padding: 5px;
    
}

.ProgramSidebarIcon{
    height: 32px;
    width: 32px;
    background-color:  #FDFDFD;
    border-radius: 50%;
    align-self: flex-start; 
    margin-top: 8px;
}



.ProgramSidebarCardCreatingSteam{
    width: 321px;
    height: 367px;
    background-color: #F7F7F7;
    border-top:8px solid #3A3748;   
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 10px;

}