.AboutUsPageContainer{
  
  width: 1460px;
  height: 177px;
  left: 157px;
  margin-top:33px;
  background: #F8F8F8;
  }
.AboutUsPageTextContainer{
position: absolute;
width: 1126px;
height: 105.6px;
left: 157px;
margin-top:22px;

}
.AboutUsPageBigContainer{
margin-top:35px;
width: 1460px;
height: 850px;
background: #F8F8F8;
}
.AboutUsPageBigTextContainer{
  position: absolute;
  
  width:896px;
  height:310px;
  margin-top:22px;
  margin-left:290px;
}
.rect1{
margin-left:683px;
}

.AboutUsPageSubtitle1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
.AboutUsPageSubtitle2{
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 150px;
  margin-bottom: 10px;
  margin-left:290px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  
}
.AboutUsPageSubtitle3{
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 150px;
  margin-bottom: 10px;
  margin-left:390px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  letter-spacing: 0.05em;
  
}
.rect2{
  margin-left:290px;
  }
  .AboutUsPageIcon{
    margin-left:275px;
    margin-top: 30px;
  }
  .AboutUsPagelasticoncontainer{
    margin-top:-70px;
  }
.AboutUsPageIconTitle{
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: -65px;
  margin-bottom: 10px;
  margin-left:350px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  letter-spacing: 0.05em;
}
.AboutUsPageIcon2{
  margin-left:275px;
  margin-top: 150px;
 }
 .AboutUsPageIcon3{
  margin-left:275px;
  margin-top: 250px;
 }